body{   

    background-image: url(../img/back.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.formulario{
    color: black;
    margin-top: 100px;
    padding: 10px;
    border: solid 0.5px black;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}