
*{
    color:aliceblue;

    
}
header{
    position: sticky;
    top: 0;
}
body{   

    background-image: url(../img/back.jpg);
}


.collapse ul li a{
    color: aliceblue;
    font-size: 25px !important;
    font-family: qatarBold !important;
    margin-left: 15px !important;
}
.collapse ul li a:hover{
    color:#a70c3df8;
}
h1{
    font-family: qatarHeavy ;
    font-size: 75px;
}
h2,h3{
    font-family: qatarBold;
    font-size: 35px;
    letter-spacing: 3px !important;
}
h4,h5,h6,p{
    font-family: qatarGraphic;
    align-items: center !important;
    justify-content: center !important;

}
.bandera{
    width: 30px;
    height: 20px;
    margin-left: 8px;
    margin-right: 8px;
}
.copa{
    height: 50px; width: 35px;
    margin-left:10px ;
    margin-right:10px ;
}
.icono{
    width: 50px;
    height: 50px;
}
.estadio{

    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.grupo{
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    height: 100px;
    margin-top: 15px;
}
.banderaGrupo{
    border: solid 0.15px black;
    height: 35px;
    width:45px
    
}
.banderasgrupo{
    margin-top:30px;


}
.tituloGrupos{
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}
.caja{
margin-left: auto !important;
margin-right: auto !important;
margin-top: 30px !important;
}
.partidoGrupos{
    background-color: #2208106b;
    background: linear-gradient(#3d17236b,#0500026b);
    margin-left: 25px;
    border-radius: 15px;
    padding: 15px;
    }
.contenedorTabla{
    background-color: #2208106b;
    background: linear-gradient(#3d17236b,#0500026b);
    padding: 12px 35px !important;
    border-radius: 15px;
    margin-top:45px;
    margin-bottom: 45px;
}
.partidoGrupos:hover{
    background-color:#36061983;
    transform: scale(1.05,1.05);
    transition:0.3s;
}
.fechaHora{
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}
.partido{
    justify-content: center;
    height: 40px;
    align-items: center;
}


input{
    height: 25px;
    width: 25px;
    color: rgb(252, 249, 249);
    background-color: rgba(0, 0, 0, 0.397);
    border:none
}
.guion{
    margin-left: 4px !important;
    margin-right: 4px  !important;
}
.alignmentPartidoGrupos{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
.ganador{
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}
.botones{
    width:95% !important;

    margin-left: auto;
    margin-right: auto;
    margin-bottom:20px;
    margin-top:35px !important;
}
button{
    width: 100% !important;
    font-family: qatarBold !important;
    border: none !important;
    border-radius: 15px !important;
    background: linear-gradient(90deg,#a71f486b,#e7077793);
    color: antiquewhite !important;
    letter-spacing: 1.5px;
    padding: 15px !important;
    
}
button:hover{
background-color: #e70777f6!important;
transform: scale(1.03,1.03);
transition:0.3s;
}

.octavos, .cuartos, .semi{
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px
}
.seleccion{
    margin-left: 10px;
}
h4
{font-size: 35px  !important;}
.seccionOctavos, .seccionCuartos, .seccionSemi{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    }
.display-none{
    display:none
}

.seccionFinal{
    display: flex;
    justify-content: center;

}
.clasificadas{margin-left:10px}
.Senegal, .holanda, .Qatar, .Ecuador, .inglaterra, .iran, .eeuu, .gales, .argentina, .arabiaSaudita, .mexico, .polonia, .espana, .costarica, .japon, .alemania, .marruecos, .croacia, .belgica, .canada, .Suiza, .Camerun, .Brasil, .Serbia, .uruguay, .corea, .portugal, .ghana{
    margin-left:25px !important;
align-items: center;}
#seleccionesPrimerasOctavos, #seleccionesSegundasOctavos, #seleccionesCuartos, #seleccionesSemiFinal, #finalistas{
    margin-top: 15px;
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}
.contenedorOctavos{
    margin: 15px;
    width: 500px;
}
.contenedorCuartos, .contenedorSemis{

    margin: 15px;
    width: 600px;

}

.partidoOctavos, .partidoCuartos, .partidoSemis{
    background-color: #2208106b;
    background: linear-gradient(#3d17236b,#0500026b);
    margin-left: 25px;
    border-radius: 15px;
    padding: 15px;
    border:none;

}

@media screen and (max-width: 768px) {
    .banderas{
        flex-wrap: wrap;
        justify-content: center;
    }
    .fechaHora{
        display: flex;

    }
    .fechaHora h5{
        flex-wrap: wrap;
        justify-content: center;
        font-size: smaller;
    }
    .partido{
        margin-top: 25px;
    }
    .partido h6{
        font-size: smaller;
    }
    .estadio{
        display: none;
    }
    .contenedorCuartos{
        border:solid 2px rgb(39, 37, 37);
        margin: 15px;
        width: 325px;
    
    }
    
}