*{
    color:aliceblue;
}
header{
    position: sticky;
    top: 0;
}
body{   

    background-image: url(../img/back.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.collapse ul li a{
    color: aliceblue;
}
.bandera{
    width: 30px;
    height: 20px;
    margin-left: 8px;
    margin-right: 8px;
}
.icono{
    width: 50px;
    height: 50px;
}

.grupo{
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    height: 100px;
    margin-top: 15px;
}
.banderaGrupo{
    border: solid 0.15px black;
    
}
.tituloGrupos{
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.partidoGrupos{
    border: solid 2px black;
    margin-left: 25px;
    }

.fechaHora, .estadio{
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}
.partido{
    justify-content: center;
    height: 40px;

}
.equipoL{
    height: 40px;
    vertical-align: middle;
}
input{
    height: 25px;
    width: 25px;
    color: black;
}
.guion{
    margin-left: 4px;
    margin-right: 4px;
}
.alignmentPartidoGrupos{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
.ganador{
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}
.botones{
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-bottom:10px;
}
.octavos, .cuartos, .semi{
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px
}
.seleccion{
    margin-left: 10px;
}
.seccionOctavos, .seccionCuartos, .seccionSemi{
    display: flex;
    flex-wrap: wrap;
    }
#seleccionesPrimerasOctavos, #seleccionesSegundasOctavos, #seleccionesCuartos, #seleccionesSemiFinal{
    margin-top: 15px;
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}
.contenedorOctavos{
    border:solid 2px rgb(39, 37, 37);
    margin: 15px;
    width: 325px;
}
.contenedorCuartos, .contenedorSemis{
    border:solid 2px rgb(39, 37, 37);
    margin: 15px;
    width: 600px;

}

.partidoOctavos, .partidoCuartos, .partidoSemis{
    margin: 15px;
}

@media screen and (max-width: 768px) {
    .banderas{
        flex-wrap: wrap;
        justify-content: center;
    }
    .fechaHora{
        display: flex;

    }
    .fechaHora h5{
        flex-wrap: wrap;
        justify-content: center;
        font-size: smaller;
    }
    .partido{
        margin-top: 25px;
    }
    .partido h6{
        font-size: smaller;
    }
    .estadio{
        display: none;
    }
    .contenedorCuartos{
        border:solid 2px rgb(39, 37, 37);
        margin: 15px;
        width: 325px;
    
    }
}